@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {
  --app-background: rgb(233,232,232);
  --global-font: 'Poppins', sans-serif;;
  --side-cards: rgb(238,238,239);
  --primary-color: rgb(73, 61, 138);
  --secondary-color: rgb(238,238,239);
  --search-icon-size: 1.75rem;
  --search-icon-margin-left: 8px;
  --search-icon-color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* background: rgb(41,42,45); */
  background: var(--app-background);
  font-family: var(--global-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
