img {
  height: 250px;
  width: 100%;
  border-radius: 7px;
}

.card {
  flex-basis: calc(50% - 10px);
  margin: 5px;
  background-color: white;
  border-radius: 7px;
}

h5,
.author,
.timestamp {
  padding-left: 10px;
}
